@model List<ShopOnline.Models.CartItem>
<div class="header__cart">
    <ul>
        <li><a href="#"><i class="fa fa-heart"></i> <span></span></a></li>
        <li><a href="/gio-hang"><i class="fa fa-shopping-bag"></i> <span>@Model.Count</span></a></li>
    </ul>
    <div class="header__cart__price">item: <span>$150.00</span></div>
</div>
